@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* COLORS */
/*
#fd4949 -red
#2e3338 -black shade for title
#3C4657 -black shade for parahraph
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  letter-spacing: 1px;
}

/* TYPOGRAPHY */
h1 {
  font-size: 3rem;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.7rem;
  font-weight: 500;
}
h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
}
p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #3c4657;
}
.title {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #2e3338;
}

/* TYPOGRAPHY */

/* BUTTONS & LINKS */
.btn {
  padding: 0.7rem 1.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid #fd4949;
  transition: 0.4s;
  background: transparent;
}
.filled-button {
  color: #ffffff;
  background: #fd4949;
}
.filled-button:hover {
  background: #e44242;
}
.outline-button {
  color: #fd4949;
}
.outline-button:hover {
  color: #ffffff;
  background: #fd4949;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* BUTTONS & LINKS */
img {
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

/* HOME PAGE */
.cover {
  height: 70vh;
  background-image: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 50%)),
    url("https://images.pexels.com/photos/4116523/pexels-photo-4116523.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* NAVBAR */
.header {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.nav-item {
  margin-left: 15px;
  color: white;
}
.bucket {
  width: 35px;
  height: 40px;
  position: relative;
  margin-right: 10px;
}
.bucket > img {
  width: 100%;
  height: 100%;
}
.counter {
  position: absolute;
  top: -2%;
  right: -40%;
  width: 30px;
  height: 25px;
  background-color: red;
  text-align: center;
  border-radius: 40%;
}
/* NAVBAR */

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50, -50%);
  transform: translate(-50%, -50%);
  max-width: 600px;
}
.banner {
  text-align: center;
  color: white;
}
/* CONTENT */

/* SEARCH BAR */
.search-bar {
  width: 600px;
  height: 60px;
  margin-top: 50px;
  border-radius: 3px;
  background-color: white;
  display: flex;
}
.search {
  width: 90%;
  height: 100%;
  border-radius: inherit;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 1rem;
  letter-spacing: 1px;
}
.search-button {
  width: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-button:hover {
  background-color: rgb(0 31 255 / 5%);
}
/* SEARCH BAR */

/* CATEGORY */
.categories-list {
  margin: 3rem 0 10rem 0;
}
.categories-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
}
.category {
  position: relative;
  width: 250px;
  height: 280px;
}
.category > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(60%);
  transition: 0.5s;
}
.category > img:hover {
  cursor: pointer;
  filter: brightness(50%);
}
.category-name {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  bottom: 5%;
  left: 5%;
}
/* CATEGORY */

/* TRENDING & FEATURED */
.trending-wrapper {
  margin-bottom: 10rem;
}
.destination-wrapper {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: wrap; */
}
.destination-card {
  width: 26rem;
  margin: 0.3rem;
}
.destination-image {
  width: 100%;
}
.destination-details {
  width: 100%;
  padding: 0.2rem;
}
.destination-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.destination-location {
  font-size: 0.8rem;
  font-weight: 300;
  color: #3c4657;
}
.ratings {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.ratings span {
  padding-right: 3px;
}
.ratings-number {
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.badge {
  background: #fd4949;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 6px 10px;
}
/* TRENDING & FEATURED */
